.form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 0 120px;
  margin: 0;
  max-width: 380px;
}
.form__label {
  margin: 0 0 8px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__label:last-child {
  margin: 32px auto 0;
  display: flex;
}
.form__input {
  border-radius: 4px;
  border-color: #838383;
  height: 60px;
  width: 100%;
  margin: 0 0 32px;
  padding: 0;
}
.form__input::-webkit-input-placeholder {
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__input::-moz-placeholder {
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__input:-ms-input-placeholder {
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__input::placeholder {
  padding-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
.form__button {
  height: 60px;
  width: 100%;
  border-radius: 4px;
  margin: 0 0 32px;
  padding: 0;
  transition: opacity 0.3s ease-in;
  background-color: #2f80ed;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__button:hover {
  opacity: 70%;
}
.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
  padding: 0;
}
